@media all and (max-width: 1250px) {
  .main-content {
    .slider {
      &-content {
        &-inner {
          margin-left: 100px;
          .slider-title {
            font-size: 20pt;
          }
          .slider-summary {
            font-size: 15pt;
          }
          .slider-summary-two {
            font-size: 9pt;
          }
          a {
            padding: 13px 40px;
          }
        }
      }
    }
  }
}
@media all and (max-width: 1170px) {
  .header {
    &-inner {
      .control {
        padding-right: 15px;
      }
    }
  }
  .main-content {
    .slider {
      &-content {
        &-inner {
          margin-left: 100px;
          .slider-title {
            font-size: 20pt;
          }
          .slider-summary {
            font-size: 15pt;
          }
          .slider-summary-two {
            font-size: 9pt;
          }
          a {
            padding: 13px 40px;
          }
        }
      }
    }
    .category {
      .category-row {
        .category-inner {
          &-item {
            .item-img {
            }
            .item-content {
              .item-content-inner {
                .item-content-icon {
                  .img {
                  }
                }
                .category-title {
                  font-size: 15px;
                }
                .category-detail {
                  font-size: 12px;
                }
              }
            }
          }
          .category-inner-item2 {
            .item-content2 {
              .item-content-inner2 {
                .item-content-icon2 {
                }
                .category-title {
                  font-size: 15px;
                }
                .category-detail {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    .footer-bottom {
      .footer-inner {
        .cols(6);
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .header {
    &-inner {
      .logo-mobile {
        display: block;
        padding: 23px 0;
        text-align: center;
        width: 50%;
        order: 2;
      }
      .logo {
        display: none;
      }
      .navbar {
        width: 10%;
        font-size: 16px;
        font-weight: 400;
        line-height: 100px;
        order: 1;
        .menu {
          display: block;
          position: relative;
          top: 3px;
          i {
            vertical-align: inherit;
          }
          span {
            padding-left: 5px;
            font-size: 18px;
          }
        }
        ul {
          .transformer(translateX(-110%));
          display: block;
          position: fixed;
          top: 0;
          z-index: 999;
          left: 0;
          height: 100vh;
          width: 15vw;
          margin: 0;
          background-color: #fff;
          line-height: 45px;
          -webkit-box-shadow: 10px 10px 11px -5px rgba(187, 187, 187, 1);
          -moz-box-shadow: 10px 10px 11px -5px rgba(187, 187, 187, 1);
          box-shadow: 10px 10px 11px -5px rgba(187, 187, 187, 1);
          .title-menu {
            display: block;
            line-height: 60px;
          }
          .nav-item {
            display: block;
            color: @bg-header;
            padding: 0 15px;
            border-bottom: 1px solid #bbb;
          }
        }
        .active {
          .transformer(translateX(0));
        }
      }
      .control {
        width: 40%;
        order: 2;
        padding-right: 15px;
        &-item {
          &:first-child {
            display: none;
          }
        }
        form {
          border: 1px solid @bg-button;
          border-radius: 40px;
          line-height: 30px;
          background-color: #fff;
          overflow: hidden;
          .form-search {
            display: flex;
            .search-input {
              flex: 1;
              padding: 0 26px;
              input {
                border: none;
                outline: none;
                width: 100%;
                line-height: 30px;
                background-color: #fff;
                color: @title-bg-color;
              }
            }
            .search-button {
              button {
                border: none;
                background-color: @bg-button;
                color: @title-bg-color;
                font-size: 12px;
                line-height: 30px;
                width: 50px;
                text-align: center;
              }
            }
          }
        }
        .cart {
          border-left: none;
          position: relative;
          top: 4px;
        }
        .user {
          position: relative;
          top: 4px;
        }
      }
    }
  }
  .main-content {
  }
  .footer {
    .footer-bottom {
      .footer-inner {
        .cols(6);
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .main-content {
    .slider {
      &-content {
        &-inner {
          margin-left: 100px;
          .slider-title {
            font-size: 20pt;
          }
          .slider-summary {
            font-size: 15pt;
          }
          .slider-summary-two {
            font-size: 9pt;
            padding-bottom: 7px;
          }
          a {
            padding: 13px 40px;
          }
        }
      }
    }
    .category {
      .category-row {
        .category-inner {
          &-item {
            .item-img {
            }
            .item-content {
              .item-content-inner {
                .item-content-icon {
                  .img {
                  }
                }
                .category-title {
                  font-size: 12px;
                }
                .category-detail {
                  font-size: 10px;
                }
              }
            }
          }
          .category-inner-item2 {
            .item-content2 {
              .item-content-inner2 {
                .item-content-icon2 {
                }
                .category-title {
                  font-size: 12px;
                }
                .category-detail {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 775px) {
  .header {
    .navbar {
      .menu {
        span {
          display: none;
        }
      }
      ul {
        width: 30vw;
      }
    }
  }
  .main-content {
    .slider {
      .slick-arrow {
        height: 8%;
        width: 4%;
      }
      &-content {
        &-inner {
          margin-left: 60px;
          margin-top: 20px;
          .slider-title {
            font-size: 18pt;
          }
          .slider-summary {
            font-size: 13pt;
          }
          .slider-summary-two {
            font-size: 7pt;
            padding-bottom: 10px;
          }
          a {
            padding: 9px 30px;
          }
        }
      }
    }
    .brand {
      .brand-inner {
        .cols(6);
      }
    }
  }
  .footer {
    .footer-bottom {
      .footer-inner {
        .cols(12);
      }
    }
  }
}

@media all and (max-width: 576px) {
}

@media all and (max-width: 375px) {
}
